<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="card px-3">
          <div class="card-body">
            <h4 class="card-title">Aplicación Todo list</h4>
            <app-taskform (tareaEnviada)="tareaEnviada($event)"></app-taskform>
            <div class="list-wrapper">
              <app-tasklist (tareaBorrada)="tareaBorrada($event)" [tareas]="arrTareas"></app-tasklist>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>