<div class="add-items d-flex">
    <input type="text" class="form-control todo-list-input" placeholder="¿Qué es lo que vas hacer hoy?"
        [(ngModel)]="titulo">
    <select class="form-control" [(ngModel)]="prioridad">
        <option value="">Selecciona un prioridad</option>
        <option value="urgente">Urgente</option>
        <option value="diario">Diaria</option>
        <option value="mensual">Mensual</option>
    </select>
    <button (click)="recogerDatos()" class="add btn btn-primary font-weight-bold todo-list-add-btn">Añadir</button>
</div>