<div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.nombre">
    </div>
    <div class="form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.apellidos">
    </div>
    <div class="form-group">
        <label>DNI</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.dni">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.email">
    </div>

    <div class="form-group">
        <label>Imagen</label>
        <input type="text" class="form-control" [(ngModel)]="empleado.imagen">
    </div>

    <div class="form-group">
        <label>Departamentos</label>
        <select class="form-control" [(ngModel)]="empleado.departamento">
            <option value="">Elige un departamento</option>
            <option value="contabilidad">Contabilidad</option>
            <option value="marketing">Marketing</option>
            <option value="direccion">Dirección</option>
            <option value="desarrollo">Desarrollo</option>
        </select>
    </div>
    <div>
        <label>¿Activo? &nbsp;</label>
        <input type="checkbox" [(ngModel)]="empleado.activo">
    </div>
    <button (click)="onClick()" class="btn btn-primary">Dar de alta</button>
</div>