.textoRojo {
    color: red;
}

.fondoAzul {
    padding: 10px;
    background-color: lightskyblue;
    transition: 1s;
}

.fondoRojo {
    padding: 10px;
    background-color: tomato;
    margin-left: 200px;
    transition: 1s;
}